@page "/profile"
@attribute [Authorize]

<h1 class="page-title">Profile</h1>

@if (Claims == null)
{
    <p>Loading...</p>
}
else
{
    <ul class="list-group list-group-flush">
        @foreach (var claim in Claims)
        {
            <li class="list-group-item">@claim.Type: @claim.Value</li>
        }
    </ul>
}
