@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    @if (User != null)
    {
        <ul>
            @foreach (var claim in User.Claims)
            {
                <li class="text-left"><strong>@claim.Type</strong>: @claim.Value</li>
            }
        </ul>
    }
</div>
