<div class="alert alert-success">
    <h3>Please check your inbox</h3>
    <p>Click the link in the email we've just sent to reset your password. It may take a few minutes to arrive.</p>
    <p>Can't find it? Check your spam folder.</p>
</div>
